In [1]:
%matplotlib inline

import numpy as np
import pandas as pd

## Load both DataFrames

In [11]:
%%time

# Load from HDFStore
df1 = pd.read_hdf('../data/LMP-raw-1.h5')
df2 = pd.read_hdf('../data/LMP-raw-2.h5')

CPU times: user 16.4 s, sys: 7.03 s, total: 23.5 s
Wall time: 27.7 s

In [19]:
print df1.count()
print
print df2.count()

Type         14289541
meanPrice    14289541
dtype: int64

Type         6521934
meanPrice    6521934
dtype: int64

## Combine into one

In [22]:
df = pd.concat([df1,df2])
print df.count()
df.head()

Type         20811475
meanPrice    20811475
dtype: int64

                                                                     Type  \
date     Node
20050401 AEBN                            Interface
         AEC                             Interface
         AECI                            Interface
         AEP                             Interface
         ALTE.ALTE                       Loadzone

                                         meanPrice
date     Node
20050401 AEBN                            33.176250
         AEC                             32.920000
         AECI                            32.191667
         AEP                             33.130417
         ALTE.ALTE                       34.415000

## Write to disk

In [23]:
%%time

df.to_hdf('../data/LMP-raw.h5', 'lmp', format='table')

CPU times: user 1min 31s, sys: 8.49 s, total: 1min 40s
Wall time: 1min 49s